div{
    height: 200px;
    width: 200px;
    box-shadow: 1px 3px 0px 3px rgba(0, 30, 255, 0.5),1px 11px 2px 3px rgb(255, 0, 8),1px 18px 5px 3px rgb(128, 255, 0),1px 25px 9px 3px rgb(233, 32, 223),1px 40px 14px 3px rgb(255, 153, 0),1px 70px 25px 3px rgb(0, 255, 225); 
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



